body{

background: url(img/background.jpg) no-repeat fixed;
background-size:100vw 100vh;
}
.container{
width: 1000px; 
margin: auto;
margin-top: 50px;
background-color: rgba(0,0,0,0.50);
border-radius: 7px 7px;
padding-top: 5px;
padding-bottom: 25px;
}
header{  
    text-align: center;
}
.logo{
   width: 170px;
}
.tab{
height: 5vh;
margin: auto;
background-color: rgb(7, 245, 7);
width: 80%;
position: relative;

}
h2{

    color: rgb(7, 245, 7);

}
input{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
}
.botton{
position:relative;
left: 36%;
}
.botton2{
position: relative;
left: 57%;
}
.posizionamento{
position: relative;
left: 10%;
color: white;
}
.carica{
height: 3vh;
margin: auto;
background-color:orange;
width: 30%;
height: 3vh;
position: relative;
right: 25%;
border-radius: 7px 7px;
}
.carica2{
height: 3vh;
margin: auto;
background-color: rgb(6, 172, 6);
width: 51%;
height: 3vh;
position: relative;
right: 15%;
border-radius: 7px 7px;
}
.carica3{
    height: 3vh;
    margin: auto;
    background-color:red;
    width: 19%;
    height: 3vh;
    position: relative;
    right: 31%;
    border-radius: 7px 7px;
}